@charset "utf-8";
html {
	/* scroll-behavior: smooth; */
	font-size: 16px;
	background-color: #ddd;
}
body {
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 400;
	font-style: normal;
	background: #e0e4e8;
	margin: 0;
	padding: 0.5rem;
}

button {
	cursor: pointer;
	padding: 0;
	vertical-align: middle;
	line-height: 0;
	transition: all 0.4s ease;
}
button i.material-icons {
	padding: 0.3rem;
	font-size: 1.2rem;
	color: #fff;
}

.container {
	max-width: 100%;
	margin: auto;
	background: #fff;
	padding: 1rem;
	border-radius: 0.6rem;
	box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
	color: #333;
	padding: 1rem;
	padding-bottom: 2rem;
}

.input-area {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

#task-input {
	flex: 1;
	padding: 0.5rem;
	font-size: 1rem;
}
#add-btn {
	border-radius: 0.2rem;
	border: 1px solid #767676;
	background-color: #767676;
}
#add-btn .material-icons {
	font-size: 1.6rem;
	padding: 0 0.45rem;
	color: #fff;
}
#add-btn:hover {
	background-color: #ddd;
}
#add-btn:hover .material-icons {
	color: #767676;
}

#filters {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0.5rem 0;
}
#filters div:first-child {
	display: flex;
	flex: 1;
	gap: 0.5rem;
	flex-wrap: wrap;
}
#filters div:last-child {
	flex: 0 0 auto;
}
#filters label {
	text-decoration: underline;
	cursor: pointer;
	font-size: 1rem;
	opacity: 0.6;
	transition: all 0.4s ease;
}
#filters label.checked {
	font-weight: bold;
	text-decoration: none;
	opacity: 1;
}
#filters label:hover {
	opacity: 1;
}
#filters select {
	padding: 0.1rem 0.2rem;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	background-color: #fafafa;
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.4s ease;
}
li:hover {
	border-color: #666;
	background-color: #eaeaea;
}
li.completed {
	background: #e0e0e0;
}
.task-body {
	min-width: 0;
	display: flex;
	flex: 1;
	align-items: center;
	gap: 0.4rem;
	flex-direction: column;
	max-width: 100%;
	padding-right: 0.5rem;
}
.task-body > * {
	margin-right: auto;
}
.task-body span.text,
.task-body form {
	flex: 1;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid transparent;
}
.task-body span.text {
	padding: 0.2rem 0;
}
.task-body form {
	margin-right: 0.5rem;
	display: none;
	width: 100%;
	border: 1px solid #767676;
	border-radius: 0.2rem;
}
.task-body form > input {
	flex: 1;
	padding-block: 0;
	padding-inline: 0;
	padding: 0.2rem 0.25rem;
	border: none;
}
.update-btn {
	border: none;
	flex: 0 0 auto;
	background-color: #767676;
}
.update-btn:hover {
	background-color: #ddd;
	border-color: #666;
}
.update-btn .material-icons {
	width: 1.8rem;
}
.update-btn:hover .material-icons {
	color: #767676;
}

.task-body time {
	max-width: 100%;
	flex: 0 0 auto;
	font-size: 0.8rem;
	padding: 0 0 0.2rem 0;
}
.completed .task-body span,
.completed .task-body time {
	color: #999;
	text-decoration: line-through;
}

.task-actions {
	display: flex;
	flex: 0 0 auto;
	gap: 0.4rem;
}
.task-actions button {
	border-radius: 0.2rem;
	border: 1px solid #767676;
}

.edit-btn {
	background: #56a;
	border-color: #56a;
}
.edit-btn:not(:disabled):hover {
	background: #fff;
}
.edit-btn:not(:disabled):hover .material-icons {
	color: #56a;
}
.edit-btn:disabled {
	opacity: 0.3;
}
.delete-btn {
	background: #f34;
	border-color: #f34;
}
.delete-btn:hover {
	background: #fff;
}
.delete-btn:hover .material-icons {
	color: #f34;
}

#task-count {
	font-size: 0.8rem;
	color: #666;
	text-align: center;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	margin: auto;
	padding: 2rem;
}
footer a {
	font-size: 0.8rem;
}

/* メディアクエリ　タブレット〜PC */

@media screen and (min-width: 768px) {
	body {
		padding: 1rem;
	}
	.container {
		max-width: 90%;
	}
	.task-body {
		flex-direction: row;
	}
	.task-body > time {
		padding: 0 .5rem 0 0;
	}
}
@media screen and (min-width: 1280px) {
	body {
		padding: 2rem;
	}
	.container {
		max-width: 80%;
	}
}
